@model Intergalactic_Race_League.Models.RacerVehicle
<h2>Create Racer and Vehicle</h2>
<form asp-action="Create" method="post">
	<h3>Racer Details</h3>
	<div>
		<label>Driver's Name</label>
		<input asp-for="Racer.DriverName" class="form-control" required/>
	</div>
	<div>
		<label>Driver's Age</label>
		<input asp-for="Racer.DriverAge" class="form-control" required />
	</div>
	<div>
		<label>Driver's height in CM</label>
		<input asp-for="Racer.DriverHeightInCm" class="form-control" required />
	</div>
	<div>
		<label>Driver's Country</label>
		<input asp-for="Racer.DriverCountry" class="form-control" required />
	</div>
	<h3>Vehicle Details</h3>
	<div>
		<label>Model</label>
		<input asp-for="Vehicle.Model" class="form-control" required />
	</div>
	<div>
		<label>Type</label>
		<input asp-for="Vehicle.Type" class="form-control" required />
	</div>
	<button type="submit" class="btn btn-primary">Create</button>
</form>