@model IEnumerable<RacerVehicle>
<h1>All Racers and Assigned Vehicle</h1>
<table class="table">
	<thead>
		<tr>
			<th>Racer Name</th>
			<th>---</th>
			<th>Vehicle</th>
			<th>___</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		@foreach (RacerVehicle racerVehicle in Model)
		{
			<tr>
				<td>@racerVehicle.Racer.DriverName</td>
				<td>
					<a href="/Racer/Details/@racerVehicle.Racer.RacerId">Details</a>
				</td>
				<td>@racerVehicle.Vehicle.VehicleId</td>
				<td>
					<a href="/Vehicle/Details/@racerVehicle.Vehicle.VehicleId">Details</a>
				</td>
				<td>
					<a href="/RacerVehicle/Delete/@racerVehicle.RacerVehicleId">Delete Pair</a>
				</td>
			</tr>
		}
	</tbody>
</table>