@model Intergalactic_Race_League.Models.Racer
<h2>Racer Details</h2>
<div>
	<h3>Racer Information</h3>
	<dl class="row">
		<dt class="col-sm-2">Driver Name</dt>
		<dd class="col-sm-10">@Model.DriverName</dd>
		<dt class="col-sm-2">Driver Age</dt>
		<dd class="col-sm-10">@Model.DriverAge</dd>
		<dt class="col-sm-2">Driver Height (cm)</dt>
		<dd class="col-sm-10">@Model.DriverHeightInCm</dd>
		<dt class="col-sm-2">Driver Country</dt>
		<dd class="col-sm-10">@Model.DriverCountry</dd>
	</dl>
</div>